# Python virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Database
*.sqlite3

# LangGraph / Redis
.redis/

alembic

how_to_run


# =========================
# Alembic (SAFE IGNORE)
# =========================

# Alembic cache
alembic/__pycache__/

# Alembic log files (if any)
alembic/*.log

alembic/
alembic.ini
myenv/
